# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [48]:
# Группируем данные по наличию детей и по возврату кредита, нахоидим доли возврата и сортируем данные по долям по убыванию для наглядности
correlation_children = data.groupby(by = 'children')['debt'].agg(['sum', 'count', 'mean']).sort_values(by = 'mean', ascending = False)
# Переводим данные в проценты
correlation_children['mean'] = correlation_children['mean'].map('{:.1%}'.format)
correlation_children

           sum  count  mean
children
4            4     41  9.8%
2          194   2052  9.5%
1          444   4808  9.2%
3           27    330  8.2%
0         1063  14091  7.5%
5            0      9  0.0%

<div style="border:solid Chocolate 2px; padding: 40px">
Вывод: количество детей влияет на возврат кредита в срок. Самый высокий процент по просрочке наблюдается у заемщиков с 4-мя детьми - 9,8%. Самыми надежными заемщиками являются заемщики без детей - 7,5% (по количеству их также в несколько раз больше, чем количество заемщиков с детьми, значит они активнее берут кредит). По таблице видно, что не у всех категорий достаточно данных, а именно у клиентов с 3-мя, 4-мя и 5-ю детьми. Поэтому нужно рассматривать зависимость, исходя из данных по клиентам с одним ребенком, двумя и по заемщикам без детей. Тем не менее, если рассматривать только эти три группы, прослеживается корреляция: чем больше детей - тем меньше вероятность выплаты кредита в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [49]:
# Хотела объединить данные по статусам "в разводе" и "вдовцы", но не получается сделать это через loc, как ниже. Может подскажете почему?
data.loc[(data['family_status'] == 'вдовец / вдова') & (data['family_status'] == 'в разводе'), 'family_status'] = 'вдовцы/разведены'
# Группируем статусы с данными по возврату кредита, находим доли по возрврату и сортируем по убыванию для наглядности
correlation_family_status = data.groupby(by = 'family_status')['debt'].agg(['sum', 'count', 'mean']).sort_values(by = 'mean', ascending = False)
# Переводим доли в проценты
correlation_family_status['mean'] = correlation_family_status['mean'].map('{:.1%}'.format)
correlation_family_status

                       sum  count  mean
family_status
Не женат / не замужем  273   2796  9.8%
гражданский брак       385   4134  9.3%
женат / замужем        927  12261  7.6%
в разводе               84   1189  7.1%
вдовец / вдова          63    951  6.6%

**Вывод:** Зависимость **есть**. Самыми ненадежными заемщиками являются неженатые и незамужние - 9,8%. Больше всего кредит берут женатые пары, однако процент по задолжности у них находится на третьем месте по убыванию, что говорит в положительную сторону. Самыми надежными являются заемщики в разводе и вдовцы.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [41]:
# Создадим функцию для распределения дохода по категориям
def income_category(income):
    if income < 100000:
        return '<100000'
    if 100000 <= income <= 150000:
        return '100000-150000'
    if 150000 <= income <= 200000:
        return '150000-200000'
    if 200000 <= income <= 300000:
        return '200000-300000'
    return '>300000'
# Создадим новую колонку в датасете и применим функцию
data['total_income_category'] = data['total_income'].apply(income_category)
# Группируем категории дохода с данными по возврату кредита, находим доли
correlation_total_income = data.groupby(by = 'total_income_category')['debt'].agg(['sum', 'count', 'mean'])
# Переводим доли в проценты
correlation_total_income['mean'] = correlation_total_income['mean'].map('{:.1%}'.format)
correlation_total_income

                       sum  count  mean
total_income_category
100000-150000          619   7110  8.7%
150000-200000          403   4738  8.5%
200000-300000          250   3565  7.0%
<100000                354   4444  8.0%
>300000                106   1474  7.2%

<div style="border:solid Chocolate 2px; padding: 40px">
Вывод: Самая высокая вероятность невыплаты кредита в срок наблюдается у заемщиков с доходом 100-150 тыс. рублей - 8,7%. На втором месте заемщики с доходом 150-200 тысяч рублей. Самыми надежными клиентами в данном случае можно считать заемщиков с доходом 200-300 тысяч рублей - у них самый низкий процент по задолжности - 7,0%. Близки к ним клиенты с доходом выше 300 тыс. руб., но тем не менее процент по задолжности чуть выше - 7,2%. Если обратить внимание только на группы клиентов с доходом 100-150 и 150-200 тыс. руб., то можно сделать вывод, что в данном случае чем выше доход, тем выше вероятность возврата кредита в срок.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [52]:
# сгруппируем категории цетей и выявим доли по возврату кредита, отсортируем по убыванию долей для наглядности 
correlation_purpose_category = data.groupby(by = 'purpose_category')['debt'].agg(['sum', 'count', 'mean']).sort_values(by = 'mean', ascending = False)
# переведем доли в проценты
correlation_purpose_category['mean'] = correlation_purpose_category['mean'].map('{:.1%}'.format)
correlation_purpose_category

                          sum  count  mean
purpose_category
операции с автомобилем    400   4279  9.3%
получение образования     369   3988  9.3%
проведение свадьбы        183   2313  7.9%
операции с недвижимостью  780  10751  7.3%

**Вывод:** Самый низкий процент по задолжности наблюдается у заемщиков, которые берут кредит на недвижимость - 7,3%, по количеству заемщиков с такой целью их также больше, чем других. Самыми ненадежными заемщиками в данном случае являются заемщики с целями на автомобиль и образование - одинаковый процент в 9,3%.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

К причинам появления пропусков можно отнести: 
* Некорректный ввод данных - то есть пользователь ошибочно ввел данные или забыл их внести
* Сбои при передаче данных или повреждение файлов
* Ошибки при обработке данных - например ошибки парсинга данных

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана является лучшим решением для заполнения пропущенных значений в тех случаях, когда распределение переменной имеет экстремальные значения, которые могут привести к смещению среднего значения (то есть медиана устойчива к выбросам)

### Шаг 4: общий вывод.

<div style="border:solid Chocolate 2px; padding: 40px">
Вывод: по результатам анализа мы выявили несколько зависимостей, которые могут быть полезны для дальнейшей работы с клиентами. Во-первых: чем больше детей у заемщика - тем ниже вероятность возврата кредита в нужный срок. Во-вторых: клиенты, которые находятся в браке или побывали в нем, реже допускают задолжности по возврату кредита. В-третьих: кредиты на недвижимость и на образование чаще остальных выплачиваются в срок. В-четыертых: чаще всего кредит не выплачивают в срок клиенты с доходом от 100 до 150 тыс. руб. Можно было бы также более углубленно посмотреть корреляцию, например как соотносятся вместе цели кредита, наличие детей и опыт в браке.